__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

.mypy_cache/
.ruff_cache/

*.log
*.swp
*.swo
*~

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

terraform-output/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
test-*/
/terraform/
